<div class="col-lg-7">
    <div class="panel-group" id="accordion" >

        <div *ngFor="let data of dataList.list" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#'+data['id']" (click)="searchDetalles(data)">
                        <div><label>{{paramSearch.label['title']}} </label>{{data['title']}}</div>
                        <div><label>{{paramSearch.label['detail']}} </label>{{data['detail']}}</div></a>
                </h4>
            </div>
            <div  [attr.id]="data['id']" class="panel-collapse collapse">
                <div  *ngIf="detailsSearh['id']" class="panel panel-default">
                    <div class="panel-body">
                        <div *ngFor="let key of getKeys()" class="col-centered " >

                            <div *ngIf="key =='image'" class="col-centered">
                                <figure>
                                    <img class="img-circle"  src="{{detailsSearh[key]}}">
                                </figure>
                            </div>
                            <label *ngIf="key!='image'" class="col-centered"><strong class="text-bold">{{rulesDetalis[key].title}}:</strong> <label>{{detailsSearh[key]}}</label></label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>