
<div class="row">
    <div class="col-lg-11 ">
        <div class="panel-group" id="accordion" >

            <div  *ngFor="let data of dataList.list" class="panel-default " style="margin-bottom: 5px">
                <div class="panel-heading">

                    <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#'+data['id']" (click)="searchDetalles(data)">
                        <div class="col-lg-1">
                            <span class="fa fa-user fa-lg" style="font-size: 30px;"></span>
                        </div>
                        <div>
                            <h4 class="panel-title row">
                                <div class="col-lg-5"><label>{{paramSearch.label['title']}} </label>{{data['title']}}</div>
                                <div class="col-lg-5"><label>{{paramSearch.label['detail']}} </label>{{data['detail']}}</div>
                            </h4>
                        </div>

                    </a>
                </div>
                <div  [attr.id]="data['id']" class="panel-collapse collapse">
                    <div  *ngIf="data.detailsSearh && data.detailsSearh['id']" class="panel panel-default">
                        <div class="panel-body">

                            <div *ngIf="rulesDetalis.image" class="col-lg-3 col-centered">
                                <figure>
                                    <img class="img-circle"  src="{{data.detailsSearh[image] || '/img/user.png' }}">
                                </figure>
                            </div>

                            <div  class="col-lg-4 col-centered">

                                <label *ngFor="let key of getKeys(data)" class="col-centered col-lg-12"><strong class="text-bold">{{rulesDetalis[key].title}}:</strong> <label>{{data.detailsSearh[key]}}</label></label>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div *ngIf="dataList && dataList.page && dataList.page.length > 1 " class="row text-right">
    <table class="col-lg-11">
        <tbody>
            <tr>
                <td>
                    <div class="btn-group pull-right">


                        <button *ngIf="MaxPager()>5" (click)="loadData(1)" type="button" class="btn btn-default">
                            <<
                        </button>

                        <button *ngFor="let val of dataList.page" (click)="loadData(val)" type="button" class="btn btn-default">
                            {{val}}
                        </button>


                        <button (click)="loadAll($event)" type="button" class="btn btn-default">
                            <i class="fa fa-list"></i>
                        </button>

                        <button *ngIf="MaxPager()>5" (click)="loadData(MaxPager())" type="button" class="btn btn-default">
                            >>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>