.bg-yoel-1 > th,.bg-yoel-1 > td,.bg-yoel-1{
    color: #ffffff !important;
    background-color: rgba(30, 40, 44, 0.63) !important;
    -webkit-print-color-adjust: exact;


}
.bg-yoel-2 > th,.bg-yoel-2 > td,.bg-yoel-2{
    background-color: rgba(61, 97, 113, 0.14) !important;
    color: #000000 !important;
    -webkit-print-color-adjust: exact;

}
*{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    text-transform: uppercase !important;
}
.content-wrapper, .right-side, .main-footer, div {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.noprint{
    display:none;
}
.content-wrapper{
    margin: 0 !important;
    padding: 0 !important;
}
body{
    letter-spacing: 1pt !important;
}
.colorpicker{
    display: none;
}