.bg-blue-2{
    background-color: rgb(0, 75, 119) !important;
    color: white;
}
.padding-top-15{
    padding-top: 15px;
}
.borde-tabla-kardex{
    border: 1px solid rgba(0,115,183,0.4);
}
.title-kardex{
    font-size: 16px;
    font-weight: 900
}