.bg-yoel-1{
    color: #ffffff;
    background: rgba(30, 40, 44, 0.63);
}
.bg-yoel-2{
    background-color: rgba(61, 97, 113, 0.14) !important;
    color: #000000;
}
.padding-top-15{
    padding-top: 15px;
}
.borde-tabla-kardex{
    border: 1px solid rgba(0,115,183,0.4);
}
.title-kardex{
    font-size: 16px;
    font-weight: 900
}