<table class="table table-striped table-hover" >
    <thead>
        <tr>
            <th *ngFor="let key of keyVisible()" >{{rules[key].title}}</th>
            <th *ngIf="params.actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataList.list">
            <td *ngFor="let key of keyVisible()">
             <a x-editable [disabled]="!rules[key].update" [endpoint]="params.endpoint" [function]="onEditable" [data]="data" [rules]="rules" [field]="key"></a>
            </td>
            <td *ngIf="params.actions">
                <i *ngFor="let key of getKeys(params.actions)" class="{{params.actions[key].icon || 'fa fa-list'}}"></i>
            </td>
        </tr>
    </tbody>
</table>