
<div class="content-wrapper">
    <section class="content">
        <div class="box">

            <div class="box-header">
                <button (click)="goOperation($event)" class="btn btn-green" type="button" title="Agregar operacion">
                    <i class="fa fa-plus fa-lg"></i>
                </button>
                <h3 *ngIf="viewOptions && viewOptions.title" class="box-title">{{viewOptions.title  }}</h3>
            </div>
            <div class="box-body">
                <div *ngIf="endpoint.length >0">

                    <upload-file  [(endpoint)]="endpoint" [rules]="rules"></upload-file>

                </div>
            </div>

        </div>
    </section>
</div>