<div class="content-wrapper">
    <section class="content">
        <div class="box">

            <div class="box-body">

                <div *ngIf="lastLocaltion && lastLocaltion.name" class="form-group">
                    <label ><strong> Ubicacion usada: {{lastLocaltion.name}}</strong></label>

                </div>

                <form role="form" [ngFormModel]="form_operation" (submit)="getResult($event)">
                    <button class="hidden" (submit)="getResult($event)"></button>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="usr">Codigo de Barras:</label>
                            <input ngControl="producto" class="form-control" type="text" id="usr">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div *ngIf="dataList.list" class="form-group">
                            <label for="usr">Tipo de accion:</label>
                            <select [(ngModel)]="tipoAccion_2" (ngModelChange)="setTipoAccion($event)" sm-dropdown class="ui fluid search selection dropdown">

                                <option value="-1">Seleccione un valor</option>
                                <option *ngFor="let data of dataList.list" [attr.value]="data.id">{{data.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="listAccion && listAccion.length > 0">
                        <h3>Historial de acciones realizadas</h3>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <td>Codigo de Producto</td><td>Ubicacion</td><td>Accion</td>
                            </tr>
                            </thead>
                            <tbody *ngFor="let carga of listAccion">
                            <tr>
                                <td>{{carga.Producto}}</td><td>{{carga.Ubicacion}}</td><td>{{carga.Accion}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </form>


            </div>


        </div>
    </section>
</div>