<div *ngIf="dataList.list" class="box-body">
    <div *ngFor="let i of params.field" class="row">
        <div *ngFor="let data of dataList.list | slice:i:i+params.offset">
            <div class="{{params.class}}">
                <div class="panel">
                    <div class="panel-body">
                        <div class="profile">
                            <div style="margin-bottom: 15px" class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="btn-group dropdown pull-right" *ngIf="params.actions">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-box-tool dropdown-toggle"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-gears fa-lg"></i>
                                        </button>
                                        <!--<ul role="menu" class="dropdown-menu text-left submenu-config">-->
                                            <!--<li>-->
                                                <!--<a (click)="onPatch('accountLocked',data)">-->
                                                    <!--<span class="fa fa-list"></span>-->
                                                    <!--{{data.accountLocked?"Verificar":"No Verificado"}}-->
                                                <!--</a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                                <!--<a (click)="onLock('enabled',data)">-->
                                                    <!--<span class="fa fa-warning"></span>-->
                                                    <!--{{data.enabled?"Bloquear":"Habilitar"}}-->
                                                <!--</a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                                <!--<a data-toggle="modal"-->
                                                   <!--[attr.data-target]="'#modalDelete'"-->
                                                   <!--(click)="dataSelect = data">-->
                                                    <!--<span class="fa fa-trash"></span>-->
                                                    <!--Eliminar-->
                                                <!--</a>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center separacion">
                                    <div *ngFor="let key of keyVisible()">
                                        <div *ngIf="rules[key].type!='image'">
                                            <strong>{{rules[key].title}}:</strong>
                                            <a *ngIf="!rules[key].object" x-editable  [disabled]="!rules[key].update "  [endpoint]="params.endpoint" [function]="onEditable" [data]="data" [rules]="rules" [field]="key"></a>
                                        </div>
                                        <div *ngIf="rules[key].type=='image'">
                                            <figure>
                                                <div [imageSrc]="data.image || data.default"
                                                     x-cropit
                                                     (saveImagen)="changeImage($event,data.id,key)">
                                                    <div class="cropit-preview center-block"></div>
                                                    <div class="col-lg-12 margenes">
                                                        <div class="col-lg-6">
                                                            <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw fa-fw"></button>
                                                            <button class="btn btn-box-tool fa fa-rotate-right rotate-cw"></button>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <input type="range" class="cropit-image-zoom-input"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-6">
                                                            <input x-file type="file" class="cropit-image-input"/>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button (click)="loadImage($event)"
                                                                    class="btn btn-success pull-right fa fa-save upload boton-guardar">
                                                                &nbsp;Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>