<div *ngIf="dataList.list" class="box-body">
    <div *ngFor="let i of params.field" class="row">
        <div *ngFor="let data of dataList.list | slice:i:i+params.offset">
            <div class="{{paramas.class}}">
                <div class="panel">
                    <div class="panel-body">
                        <div class="profile">
                            <div style="margin-bottom: 15px" class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="btn-group dropdown pull-right" *ngIf="params.actions">
                                        <button type="button" data-toggle="dropdown"
                                                class="btn btn-box-tool dropdown-toggle"
                                                aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-gears fa-lg"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu text-left submenu-config">
                                            <li>
                                                <a (click)="onPatch('accountLocked',data)">
                                                    <span class="fa fa-list"></span>
                                                    {{data.accountLocked?"Verificar":"No Verificado"}}
                                                </a>
                                            </li>
                                            <li>
                                                <a (click)="onLock('enabled',data)">
                                                    <span class="fa fa-warning"></span>
                                                    {{data.enabled?"Bloquear":"Habilitar"}}
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="modal"
                                                   [attr.data-target]="'#modalDelete'"
                                                   (click)="dataSelect = data">
                                                    <span class="fa fa-trash"></span>
                                                    Eliminar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center separacion">
                                    <div *ngFor="let key of keyVisible()">
                                        <div *ngIf="rules[key].type!='image'">
                                            <strong>{{rules[key].title}}:</strong>
                                            <a *ngIf="!rules[key].object" x-editable  [disabled]="!rules[key].update "  [endpoint]="params.endpoint" [function]="onEditable" [data]="data" [rules]="rules" [field]="key"></a>
                                        </div>
                                        <div *ngIf="rules[key].type=='image'">
                                            <figure>
                                                <div [imageSrc]="data.image || '/assets/img/user-guest.png'"
                                                     x-cropit
                                                     (saveImagen)="changeImage(data,$event,key)">
                                                    <div class="cropit-preview center-block"></div>
                                                    <div class="col-lg-12 margenes">
                                                        <div class="col-lg-6">
                                                            <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw fa-fw"></button>
                                                            <button class="btn btn-box-tool fa fa-rotate-right rotate-cw"></button>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <input type="range" class="cropit-image-zoom-input"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-6">
                                                            <input x-file type="file" class="cropit-image-input"/>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button (click)="loadImage($event)"
                                                                    class="btn btn-success pull-right fa fa-save upload boton-guardar">
                                                                &nbsp;Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>




                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h2 class="truncate">{{data.dataname}}</h2>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-lg-12">
                                    <p>

                                        <a x-editable [disabled]="!myglobal.existsPermission('60')"
                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                           [rules]="rules" field="name"></a>
                                    </p>
                                    <p>
                                        <strong>Tel&eacute;fonos:</strong>
                                        <a x-editable [disabled]="!myglobal.existsPermission('60')"
                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                           [rules]="rules" field="phone"></a>
                                    </p>
                                    <p>
                                        <strong>Email:</strong>
                                        <a x-editable [disabled]="!myglobal.existsPermission('60')"
                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                           [rules]="rules" field="email"></a>
                                    </p>
                                    <p *ngIf="myglobal.existsPermission('60')">
                                        <strong>Contrase&ntilde;a:</strong>
                                        <a x-editable [disabled]="!myglobal.existsPermission('60')"
                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                           [rules]="rules" field="password"></a>
                                    </p>


                                    <p><strong>Cliente:</strong> {{data.companyName}}
                                        <label>
                                            <a *ngIf="myglobal.existsPermission('63') && myglobal.existsPermission('60') && myglobal.existsPermission('80')"
                                               (click)="dataSelect = data"
                                               class="btn btn-box-tools text-blue fa fa-search"
                                               data-toggle="modal" data-target="#searchEmpresa"></a>
                                            <a *ngIf="myglobal.existsPermission('68') && myglobal.existsPermission('60') && myglobal.existsPermission('63') "
                                               (click)="dataSelect = data"
                                               class="btn btn-box-tools text-green fa fa-plus"
                                               data-toggle="modal" data-target="#newEmpresa"></a>
                                            <a *ngIf="data.companyId && myglobal.existsPermission('65') && myglobal.existsPermission('60')"
                                               (click)="releaseCompany(data)"
                                               class="btn btn-box-tools text-red fa fa-minus"></a>
                                        </label>
                                    </p>
                                    <p>
                                        <button *ngIf="myglobal.existsPermission('62')"
                                                (click)="onPatch('accountLocked',data)"
                                                class="btn btn-sm"
                                                [class.btn-green]="!data.accountLocked"
                                                [class.btn-red]="data.accountLocked">
                                            {{data.accountLocked?"Sin Verificar":"Verificado"}}
                                        </button>

                                        <button *ngIf="myglobal.existsPermission('61')"
                                                (click)="onLock('enabled',data)" class="btn btn-sm"
                                                [class.btn-green]="data.enabled"
                                                [class.btn-red]="!data.enabled">
                                            {{data.enabled?"Habilitado":"Bloqueado"}}
                                        </button>
                                    </p>
                                    <p *ngIf="dataRoles && dataRoles.count>0">
                                        <strong class="col-lg-2">Rol:</strong>
                                                    <span class="col-lg-10">
                                                        <a x-editable
                                                           [disabled]="!(myglobal.existsPermission('64') && myglobal.existsPermission('60'))"
                                                           [endpoint]="'/datas/'+data.id+'/roles'"
                                                           [function]="onEditableRole" [data]="data" [rules]="rules"
                                                           field="roles"></a>
                                                    </span>
                                    </p>

                                </div>
                            </div>
                            <div class="row text-center divider">
                                <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 emphasis">
                                    <h4><strong>{{data.companyWeightCount?data.companyWeightCount:"N/A"}}</strong>
                                    </h4>
                                    <p>
                                        <small>Descargas</small>
                                    </p>
                                    <button [disabled]="!data.companyId"
                                            (click)="goTimeLine(data.companyRuc)"
                                            class="btn btn-yellow btn-block">Registro
                                    </button>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6 emphasis">
                                    <h4>
                                        <strong>{{data.companyBalance?data.companyBalance:"0"}}$</strong>
                                    </h4>
                                    <p>
                                        <small>Saldo</small>
                                    </p>
                                    <button [disabled]="!data.companyId"
                                            (click)="goTaquilla(data.companyId)"
                                            class="btn btn-yellow btn-block">Taquilla
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>