<div class="content-wrapper">
    <section class="content">
        <div class="box">

            <div class="box-header">

                <h3 *ngIf="viewOptions && viewOptions.title" class="box-title">{{viewOptions.title }}</h3>

            </div>

            <div class="box-body">
                <div class="row">
                    <div *ngIf="productListLess && productListLess.list" class="col-lg-6 text-center">
                        <div class="panel panel-default">
                            <label class="panel-heading">Productos con un numero menor de elementos al permitido</label>
                            <div class="panel-body text-center">
                                <tables [dataList]="productListLess" [rules]="productRulesLess" [params]="paramsTableLess"></tables>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="productListMore && productListMore.list" class="col-lg-6 text-center">

                        <div class="panel panel-default">
                            <label class="panel-heading">Productos con un numero mayor de elementos al permitido</label>
                            <div class="panel-body text-center">
                                <tables [dataList]="productListMore" [rules]="productRulesMore" [params]="paramsTableMore"></tables>
                            </div>
                        </div>
                    </div>
                </div>
                <!--div class="row">
                    <div *ngIf="dataAreaPlot1.series.length>0" id="chartcontainer1" width='100%' class="padding-bottom col-lg-6">
                        <chart [options]="dataAreaPlot1" (load)="saveInstance($event.context,'plot1')"></chart>
                    </div>
                </div-->
            </div>

        </div>
    </section>
</div>
